.raleway-<uniquifier > {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.inter-<uniquifier > {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* Shared Style */
.color-1 {
  border-radius: 10px;
  border: none;
  color: #ffffff;
  padding: 12px 36px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  background: rgb(78, 71, 255);
}
body {
  /* background-color: #f5f8ff; */
  background: rgb(245, 248, 255);
}
nav {
  width: 1140px;
  /* text-align: center; */
  /* padding: 50px auto; */
  /* margin-top: 50px; */
}
.nav {
  margin-left: 150px;
  margin-right: 150px;
}
nav li {
  list-style: none;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
.logo {
  font-family: Inter;
  font-size: 34px;
  font-weight: 900;
  color: #4e47ff;
}
.header {
  width: 1440px;
  height: 698px;
  background-image: url('../Assets/Hero-bg.png');
  background-position: top;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 50px 0px;
}
.hero {
  width: 905px;
  margin: 158px auto 152px auto;
}
.hero-title {
  text-align: center;
  font-family: Raleway;
  font-size: 65px;
  font-weight: 700;
}
.align-center {
  text-align: center;
  /* width: 905px; */
  margin: 0 auto;
}
.hero-content {
  text-align: center;
}
/* Main PART */
.seeit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 220px;
}
.seeit-img {
  width: 403px;
  border-radius: 48px;
}
.see-it-heading {
  font-family: Raleway;
  font-size: 42px;
  font-weight: 700;
}
.see-it-description {
  color: rgba(37, 36, 50, 0.5);
  font-family: Raleway;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
}
.productive {
  width: 900px;
  margin: 116px auto 137px auto;
  text-align: center;
  background-color: rgba(78, 71, 255, 0.7);
  /* margin: ; */
  padding: 50px 80px;
  border-radius: 24px;

  background: rgba(78, 71, 255, 0.1);
}
.productive-flex {
  display: flex;
  justify-content: center;
  gap: 163px;
}
.productive-title {
  color: rgb(37, 36, 50);
  font-family: Raleway;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
}
