.raleway-<uniquifier > {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.inter-<uniquifier > {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* Shared Style */
.color-1 {
  border-radius: 10px;
  border: none;
  color: #ffffff;
  padding: 12px 36px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  background: rgb(78, 71, 255);
}

.color-1:hover {
  cursor: pointer;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  padding: 12px 36px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  background: rgb(255, 71, 209);
}

body {
  /* background-color: #f5f8ff; */
  background: rgb(245, 248, 255);
}
nav {
  width: 1140px;
  /* text-align: center; */
  /* padding: 50px auto; */
  /* margin-top: 50px; */
}
.nav {
  margin-left: 150px;
  margin-right: 150px;
}
nav li {
  list-style: none;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
.logo {
  font-family: Inter;
  font-size: 34px;
  font-weight: 900;
  color: #4e47ff;
}
.header {
  width: 1440px;
  height: 698px;
  background-image: url('../Assets/Hero-bg.png');
  background-position: top;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 50px 0px;
}
.hero {
  width: 905px;
  margin: 158px auto 152px auto;
}
.hero-title {
  text-align: center;
  font-family: Raleway;
  font-size: 65px;
  font-weight: 700;
}
.align-center {
  text-align: center;
  /* width: 905px; */
  margin: 0 auto;
}
.hero-content {
  text-align: center;
}
/* Main PART */
.seeit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 220px;
}
.seeit-img {
  width: 403px;
  border-radius: 48px;
}
.see-it-heading {
  font-family: Raleway;
  font-size: 42px;
  font-weight: 700;
}
.see-it-description {
  color: rgba(37, 36, 50, 0.5);
  font-family: Raleway;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
}
.productive {
  width: 900px;
  margin: 116px auto 137px auto;
  text-align: center;
  background-color: rgba(78, 71, 255, 0.7);
  padding: 50px 80px;
  border-radius: 24px;
  background: rgba(78, 71, 255, 0.1);
}
.productive-flex {
  display: flex;
  justify-content: center;
  gap: 163px;
  line-height: 13px;
}
.productive-title {
  color: rgb(37, 36, 50);
  font-family: Raleway;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
}
.productive-data {
  color: rgb(78, 71, 255);
  font-family: Inter;
  font-size: 80px;
  font-weight: 700;
  text-align: center;
}
.productive-des {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.user {
  width: 1140px;
  text-align: center;
  margin: 137px auto;
}
.cart-flex {
  display: flex;
  margin-top: 50px;
  gap: 20px;
  /* line-height: 15px; */
}
.card-1 {
  width: 366px;
  height: 250px;
  box-sizing: border-box;
  border: 1px solid rgb(242, 237, 237);
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.5);
  padding: 24px;
  text-align: left;
  line-height: 20px;
}
.user-heading {
  color: rgb(37, 36, 50);
  font-family: Raleway;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}
.card-title {
  /* Heading */
  color: rgb(30, 30, 30);
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  text-align: left;
}
.card-description {
  /* Body Base */
  color: rgb(30, 30, 30);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
.card-rivew {
  /* Body Strong */
  color: rgb(117, 117, 117);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  /* margin-bottom: 10px; */
}
.rivew {
  display: flex;
  /* width: 40px; */
  align-items: center;
  gap: 12px;
  /* margin-bottom: 200px; */
  margin-top: -20px;
}
.rivew-image {
  border-radius: 50%;
}
.color-y {
  color: #ffd700;
}
.form-section {
  width: 1140px;
  margin: 92px auto;
}
.form-flex {
  padding: 71px 0px 71px 0px;
  /* margin-bottom: 10px; */
  display: flex;
  gap: 115px;
  /* text-align: center; */
  align-items: center;
  justify-content: center;

  /* text-align: center; */
  /* width: 50%; */
  /* width: 100%; */
  width: 100%;
}
input,
textarea {
  display: block;
}
/* .form-heading {
  color: rgb(0, 0, 0);
  font-family: Raleway;
  font-size: 97px;
  font-weight: 700;
  text-align: left;
} */
#form-title {
  color: rgb(0, 0, 0);
  font-family: Raleway;
  font-size: 97px;
  font-weight: 700;
  text-align: left;
}
label {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 10px;
  /* margin-top: 20px; */
  padding: 10px;
  /* border: 2px solid black; */
  margin-top: 50px;
  line-height: 50px;
}
input {
  width: 497px;
  height: 70px;
  box-sizing: border-box;
  border: 1px solid rgb(214, 221, 237);
  border-radius: 10px;
  background: rgb(255, 255, 255);
  margin-bottom: 10px;
  padding: 20px 32px;
  /* line-height: 10px; */
}
textarea {
  border: 1px solid rgb(214, 221, 237);
  border-radius: 10px;
  background: rgb(255, 255, 255);
  padding: 20px 32px;
}
.form-button {
  width: 100%;
  margin-top: 19px;
}
.footer {
  width: 1440px;
  text-align: center;
  margin: 0 auto;
  /* padding: 104px 455px; */
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
}
.footer-content {
  padding: 104px 455px;
  text-align: center;
}
.footer-flex {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  margin-top: 20px;
}
li,
a {
  list-style: none;
  text-decoration: none;
  color: #8987a1;
}
.footer-heading {
  color: rgb(78, 71, 255);
  font-family: Inter;
  font-size: 100px;
  font-weight: 900;
  text-align: center;
  line-height: 121px;
  line-height: 8px;
}
#footer-des {
  /* Paragraph */
  color: rgb(137, 135, 161);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  /* line-height: 150%; */
  letter-spacing: 0%;
  text-align: center;
}
